# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [1]:
import pandas as pd

data = [[30, 21]]
columns = ["Apples", "Bananas"]
fruit_df = pd.DataFrame(data, columns=columns)

print(fruit_df)

   Apples  Bananas
0      30       21

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [2]:
data = {
    "Apples": [35, 41],
    "Bananas": [21, 34]
    }
index = ["2017 Sales", "2018 Sales"]
fruit_vendors_df = pd.DataFrame(data, index=index)
print(fruit_vendors_df)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

[This resource could help you](https://apprendrepython.com/pandas-iterate-dataframe-avec-la-boucle-for/)

In [3]:
for column in fruit_vendors_df.columns:
    print(f"{column} column values:")
    for value in fruit_vendors_df[column]:
        print(value)
    print()

Apples column values:
35
41

Bananas column values:
21
34

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [4]:
fruit_vendors_df = fruit_vendors_df.drop("2017 Sales")

print(fruit_vendors_df)

            Apples  Bananas
2018 Sales      41       34

# Mission 5

Delete the first column from the dataframe from mission 2.

In [5]:
fruit_vendors_df = fruit_vendors_df.drop("Apples", axis=1)

print(fruit_vendors_df)

            Bananas
2018 Sales       34