# Mission 1

Display the following information [for this dataset](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user).
- The last 5 rows
- The first 5 rows
- The type of each column

Note : start coding something by typing `pd.read_csv()` and explore the different options available, especially the `sep` parameter.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user"
users_df = pd.read_csv(url, sep='|')

# Display the last 5 rows
print("Last 5 rows:")
print(users_df.tail())

# Display the first 5 rows
print("\nFirst 5 rows:")
print(users_df.head())

# Display the data type of each column
print("\nData types of each column:")
print(users_df.dtypes)

Last 5 rows:
       1  24  M     technician  85711
937  939  26  F        student  33319
938  940  32  M  administrator  02215
939  941  20  M        student  97229
940  942  48  F      librarian  78209
941  943  22  M        student  77841

First 5 rows:
   1  24  M  technician  85711
0  2  53  F       other  94043
1  3  23  M      writer  32067
2  4  24  M  technician  43537
3  5  33  F       other  15213
4  6  42  M   executive  98101

Data types of each column:
1              int64
24             int64
M             object
technician    object
85711         object
dtype: object

# Mission 2

Display the first 10 rows [in the following file](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv)

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv"
drinks_df = pd.read_csv(url)

print(drinks_df.head(10))

             country  beer_servings  spirit_servings  wine_servings  \
0        Afghanistan              0                0              0
1            Albania             89              132             54
2            Algeria             25                0             14
3            Andorra            245              138            312
4             Angola            217               57             45
5  Antigua & Barbuda            102              128             45
6          Argentina            193               25            221
7            Armenia             21              179             11
8          Australia            261               72            212
9            Austria            279               75            191

   total_litres_of_pure_alcohol      continent
0                           0.0           Asia
1                           4.9         Europe
2                           0.7         Africa
3                          12.4         Europe
4                           5.9         Africa
5                           4.9  North America
6                           8.3  South America
7                           3.8         Europe
8                          10.4        Oceania
9                           9.7         Europe

Set the "country" column as the index for the dataframe, using `set_index` method.

In [3]:
drinks_df = drinks_df.set_index("country")
print(drinks_df.head(10))

                   beer_servings  spirit_servings  wine_servings  \
country
Afghanistan                    0                0              0
Albania                       89              132             54
Algeria                       25                0             14
Andorra                      245              138            312
Angola                       217               57             45
Antigua & Barbuda            102              128             45
Argentina                    193               25            221
Armenia                       21              179             11
Australia                    261               72            212
Austria                      279               75            191

                   total_litres_of_pure_alcohol      continent
country
Afghanistan                                 0.0           Asia
Albania                                     4.9         Europe
Algeria                                     0.7         Africa
Andorra                                    12.4         Europe
Angola                                      5.9         Africa
Antigua & Barbuda                           4.9  North America
Argentina                                   8.3  South America
Armenia                                     3.8         Europe
Australia                                  10.4        Oceania
Austria                                     9.7         Europe

# Mission 3

Access the values of the row for **Zimbabwe** (use the index value)

In [4]:
zimbabwe_row = drinks_df.loc["Zimbabwe"]
print(zimbabwe_row)

beer_servings                       64
spirit_servings                     18
wine_servings                        4
total_litres_of_pure_alcohol       4.7
continent                       Africa
Name: Zimbabwe, dtype: object

# Mision 4

Display only the "continent" column value for the country **Zimbabwe**.

In [5]:
zimbabwe_continent = drinks_df.loc["Zimbabwe", "continent"]
print(zimbabwe_continent)

Africa

# Mission 5

Rename the columns [of this dataset](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv), try using the following 2 different methods to achieve this:
- Setting column names directly when reading the file
- Editing after creating the dataframe ([This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html))

In [7]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv"
new_column_names = ["datetime", "city", "state", "country", "shape", "duration", "report"]
ufo_df = pd.read_csv(url, names=new_column_names, header=None)

print("DataFrame with renamed columns (Method 1):")
print(ufo_df.head())

DataFrame with renamed columns (Method 1):
      datetime             city           state country            shape  \
0         City  Colors Reported  Shape Reported   State             Time
1       Ithaca              NaN        TRIANGLE      NY   6/1/1930 22:00
2  Willingboro              NaN           OTHER      NJ  6/30/1930 20:00
3      Holyoke              NaN            OVAL      CO  2/15/1931 14:00
4      Abilene              NaN            DISK      KS   6/1/1931 13:00

   duration  report
0       NaN     NaN
1       NaN     NaN
2       NaN     NaN
3       NaN     NaN
4       NaN     NaN

In [8]:
ufo_df = pd.read_csv(url)

ufo_df = ufo_df.rename(columns={
    "datetime": "datetime",
    "city": "city",
    "state": "state",
    "country": "country",
    "shape": "shape",
    "duration (seconds)": "duration",
    "report": "report"
})

print("\nDataFrame with renamed columns (Method 2):")
print(ufo_df.head())

DataFrame with renamed columns (Method 2):
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

# Mission 6

Select the first 3 rows and all the columns of the dataframe using iloc

In [9]:
first_three_rows = ufo_df.iloc[0:3, :]
print(first_three_rows)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

# Mission 7

Achieve the same result as in mission 6 by using loc

In [10]:
first_three_rows_loc = ufo_df.loc[0:2, :]
print(first_three_rows_loc)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00